/* Write your CSS here */
.tab-item {
  list-style-type: none;
  text-align: center;
}
.button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-width: 0px;
  color: #7b8794;
  font-size: 16px;
  font-family: 'Bree Serif';
  font-weight: normal;
}
.active-button {
  color: #2563eb;
  text-decoration: underline;
  text-decoration-color: #2563eb;
}
