/* Write your CSS here */
.app-item {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 0px;
  margin: 5px;
}
.image {
  height: 50px;
  width: 50px;
  text-align: center;
}
.app-name {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
}
